        <li class="content-li ANI">
            <div class="page p">
                <div class="part p-logo"></div>
            </div>
        </li>

 	<li class="content-li">
            <div class="page p0">
                <div class="part p-t-know p0-t-know"></div>
                <div class="part p0-t-1"></div>
                <div class="part p0-t-2"></div>
                <div class="part p0-beng p0-beng-1"></div>
                <div class="part p0-t-3"></div>
                <div class="part p0-beng p0-beng-2"></div>
                <div class="part p0-t-4"></div>
                <div class="part p0-beng p0-beng-3"></div>
                <div class="part p0-how"></div>
            </div>
        </li>
        
        <li class="content-li">
            <div class="page p1">
                <div id="J_p-p" class="part p1-i">
                		<div class="part p-p-1"></div>
                		<div class="part p-p-2"></div>
                		<div class="part p-p-3"></div>
                		<div class="part p-p-4"></div>
                		<div class="part p-p-5"></div>
                		<div class="part p-p-6"></div>
                		<div class="part p-p-7"></div>
                		<div class="part p-p-8"></div>
                		<div class="part p-p-9"></div>
                		<div class="part p-p-10"></div>
                		<div class="part p-p-11"></div>
                		<div class="part p-p-12"></div>
                		<div class="part p-p-13"></div>
                		<div class="part p-p-14"></div>
                		<div class="part p-p-15"></div>
                		<div class="part p-p-16"></div>
                		<div class="part p-p-17"></div>
                		<div class="part p-p-18"></div>
                		<div class="part p-p-19"></div>
                		<div class="part p-p-20"></div>
                		<div class="part p-p-21"></div>
                		<div class="part p-p-22"></div>
                		<div class="part p-p-23"></div>
                		<div class="part p-p-24"></div>
                		<div class="part p-p-25"></div>
                		<div class="part p-p-26"></div>
                		<div class="part p-p-27"></div>
                		<div class="part p-p-28"></div>
                		<div class="part p-p-29"></div>
                </div>
                <div class="part p-t-know p1-t-know"></div>
                <div class="part p1-t-1"></div>
                <div class="part p-right p1-right"></div>
            </div>
      </li>

        <li class="content-li">
            <div class="page p2">
                <div class="part p-t-know p2-t-know"></div>
                <div class="part p2-t-1"></div>
                <div class="part p-right p2-right"></div>
                <div class="part p2-i-1"></div>
            </div>
        </li>

        <li class="content-li">
            <div class="page p3">
                <div class="part p3-t-1"></div>
                <div class="part p3-logo"></div>
                <div class="part p3-t-3"></div>
                <div class="part p3-t-2"></div>
                <!--<div class="part p3-intro"></div>-->
            </div>
        </li>

        <li class="content-li">
            <div class="page p4">
                <div class="part p4-t"></div>
                <div class="part p4-i-1"></div>
                <div class="part p4-c-1"></div>
                <div class="part p4-t-1"></div>
                <div class="part p4-i-2"></div>
                <div class="part p4-c-2"></div>
                <div class="part p4-t-2"></div>
                <div class="part p4-i-3"></div>
                <div class="part p4-c-3"></div>
                <div class="part p4-t-3"></div>
            </div>
        </li>

        <li class="content-li">
            <div class="page p5">
                <div class="part p5-i-1"></div>
                <div class="part p5-t-1"></div>
                <div class="part p5-i-2"></div>
                <div class="part p5-t-2"></div>
            </div>
        </li>

        <li class="content-li">
            <div class="page p6">
                <div class="part p6-i-1"></div>
                <div class="part p6-t-1"></div>
                <div class="part p6-i-2"></div>
                <div class="part p6-t-2"></div>
            </div>
        </li>

        <li class="content-li">
            <div class="page p7">
                <div class="part p7-i-1"></div>
                <div class="part p7-t-1"></div>
                <div class="part p7-i-2"></div>
                <div class="part p7-t-2"></div>
            </div>
        </li>

        <li class="content-li">
            <div class="page p8">
                <p class="part p8-t"></p>
            </div>
        </li>

        <li class="content-li">
            <div class="page p9">
                <div class="part p9-t-1">一号货车，赶快下载安装、分享吧</div>
                <div class="part p9-btn-1">
                    <a href="http://beta.yihaohuoche.com" class="p9-link-1">货主下载</a>
                </div>
                <div class="part p9-btn-2">
                    <a href="http://beta.yihaohuoche.com" class="p9-link-2">司机下载</a>
                </div>
                <a href="javascript:void(0)" class="part p9-share-btn">猛戳分享，好礼相送</a>
            </div>
            <div class="wechat-overlay" style="display:none;">
                <div class="wechat-dialog">
                    <h1>链接打不开?</h1>
                    <div>由于微信限制，请点击右上角</div>
                    <div class="pd40">选择<span class="wechat-highlight">"在浏览器中打开"</span></div>
                    <div class="wechat-arrow"></div>
                </div>
            </div>
            <div class="share-mask" style="display: none;">
                <span class="share-guide"></span>
            </div>
        </li>