<li class="content-li ANI">
    <div class="page p0">
        <div class="part p0-man"></div>
        <div class="part p0-txt"></div>
    </div>
</li>
<li class="content-li">
    <div class="page p1">
        <div class="part p1-tt"></div>

        <div class="part p1-swipe-box">
            <div class="left-handler"></div>
            <div id="swipe" class="swipe">
                <ul class="swipe-wrap clearfix">
                    <li class="ishow">
                        <div class="img-wrap">
                            <img class="big-img" src="build/img/p1_swipe_0.jpg" alt="">
                        </div>
                        <p class="swipe-item-name">我叫MT2</p>
                    </li>
                    <li class="ishow">
                        <div class="img-wrap">
                            <img class="big-img" src="build/img/p1_swipe_1.jpg" alt="">
                        </div>
                        <p class="swipe-item-name">神武</p>
                    </li>
                    <li>
                        <div class="img-wrap">
                            <img class="big-img" src="build/img/p1_swipe_2.jpg" alt="">
                        </div>
                        <p class="swipe-item-name">刀塔传奇</p>
                    </li>
                    <li>
                        <div class="img-wrap">
                            <img class="big-img" src="build/img/p1_swipe_3.jpg" alt="">
                        </div>
                        <p class="swipe-item-name">全民奇迹MU</p>
                    </li>
                    <li>
                        <div class="img-wrap">
                            <img class="big-img" src="build/img/p1_swipe_4.jpg" alt="">
                        </div>
                        <p class="swipe-item-name">天下HD</p>
                    </li>
                    <li>
                        <div class="img-wrap">
                            <img class="big-img" src="build/img/p1_swipe_5.jpg" alt="">
                        </div>
                        <p class="swipe-item-name">乱斗西游</p>
                    </li>
                    <li>
                        <div class="img-wrap">
                            <img class="big-img" src="build/img/p1_swipe_6.jpg" alt="">
                        </div>
                        <p class="swipe-item-name">暗黑黎明</p>
                    </li>
                    <li>
                        <div class="img-wrap">
                            <img class="big-img" src="build/img/p1_swipe_7.jpg" alt="">
                        </div>
                        <p class="swipe-item-name">梦想海贼王</p>
                    </li>
                    <li>
                        <div class="img-wrap">
                            <img class="big-img" src="build/img/p1_swipe_8.jpg" alt="">
                        </div>
                        <p class="swipe-item-name">天龙八部</p>
                    </li>
                    <li>
                        <div class="img-wrap">
                            <img class="big-img" src="build/img/p1_swipe_9.jpg" alt="">
                        </div>
                        <p class="swipe-item-name">女神联盟</p>
                    </li>
                </ul>
            </div>
            <div class="right-handler"></div>
        </div>

    </div>
    <div class="wechat-overlay" style="display:none;">
        <div class="wechat-dialog">
            <h1>链接打不开?</h1>
            <div>由于微信限制，请点击右上角</div>
            <div class="pd40">选择<span class="wechat-highlight">"在浏览器中打开"</span>
            </div>
            <div class="wechat-arrow"></div>
        </div>
    </div>
    <div class="share-mask" style="display: none;">
        <span class="share-guide"></span>
    </div>
</li>
