<li class="content-li ANI">
    <div class="page p0">
        <!-- <div class="part p0-team"></div>
        <div class="part2 p0-txt1"></div>
        <div class="part2 p0-leader"></div>
        <div class="part p0-txt2"></div>
        <div class="part p0-txt3"></div>
        <div class="part2 p1-team-name" style="color: #FFF;">技术中心</div> -->
    </div>
</li>
<li class="content-li">
    <div class="page p1">
        <!-- <div class="part p1-team"></div>
        <div class="part2 p1-leader"></div>
        <div class="part p1-txt"></div>
        <div class="part2 p1-team-name" style="color:#341818;">风控中心</div>
        <div class="part2 p-logo"></div> -->
    </div>
</li>
<li class="content-li">
    <div class="page p2">
        <!-- <div class="part p2-team"></div>
        <div class="part2 p2-flower"></div>
        <div class="part2 p2-txt"></div>
        <div class="part2 p-logo2"></div>
        <div class="part2 p3-team-name" style="color:#FFF;">运营中心</div> -->
    </div>
</li>
<li class="content-li">
    <div class="page p3">
        <!-- <div class="part p3-team"></div>
        <div class="part2 p3-txt"></div>
        <div class="part2 p-logo1"></div>
        <div class="part2 p2-team-name" style="color:#FFF;">金融产品研发</div> -->
    </div>
</li>
<li class="content-li">
    <div class="page p4">
        <!-- <div class="part p4-team"></div>
        <div class="part p4-txt1"></div>
        <div class="part p4-txt2"></div>
        <div class="part p4-txt4"></div>
        <div class="part p4-txt3"></div>
        <div class="part2 p-logo1"></div>
        <div class="part2 p2-team-name" style="color:#444;">推广中心</div> -->
    </div>
</li>
<li class="content-li">
    <div class="page p5">
        <!-- <div class="part p5-team"></div>
        <div class="part p5-txt"></div>
        <div class="part p5-txt1"></div>
        <div class="part2 p-logo"></div>
        <div class="part2 p1-team-name">综合管理中心</div> -->
    </div>
</li>
<li class="content-li">
    <div class="page p6">
        <!-- <div class="part p6-team"></div> -->
    </div>
</li>