<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
</div>

  <section class="panel-body post-content">

  <!-- <div class="span12"> -->
    <!-- <div class="date">
      <span>{{ page.date | date_to_long_string }}</span>
    </div> -->
    
    <div class="content">
      {{ content }}
    </div>
    <div class="page-header">
      <h1>分类：</h1>
    </div>
  {% unless page.categories == empty %}
    <ul class="list-inline">
      <!-- <li><i class="icon-folder-open"></i></li> -->
      {% assign categories_list = page.categories %}
      {% include JB/categories_list %}
    </ul>
  {% endunless %}
  <div class="page-header">
      <h1>标签：</h1>
    </div>
  {% unless page.tags == empty %}
    <ul class="list-inline">
      <!-- <li><i class="icon-tags"></i></li> -->
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
    </ul>
  {% endunless %}  

    <hr>

    <nav class="page-pagination">
      <ul class="pagination">
          {% if page.previous %}
          <li>
            <a class="newer-posts" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">
              <!-- <i class="fa fa-angle-left"></i> -->
              &larr; 上一页
            </a>
          </li>
          {% else %}
          <li class="disabled">
            <span class="newer-posts">
              <!-- <i class="fa fa-angle-left"></i> -->
              &larr; 上一页
            </span>
          </li>
          {% endif %}

          <li><a class="page-number" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">存档</a></li>
          {% if page.next %}
          <li>
              <a class="older-posts" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">
                <!-- <i class="fa fa-angle-right"></i> -->
                下一页 &rarr;
              </a>
          </li>
          {% else %}
          <li class="disabled">
            <span class="older-posts">
              <!-- <i class="fa fa-angle-right"></i> -->
              下一页 &rarr;
            </span>
          </li>
          {% endif %}
      </ul>
    </nav>

    <hr>
    {% include JB/comments %}
  <!-- </div> -->
</section>
